<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Login/Create Account</title>
</head>
<body>
    <h2>Login</h2>
    <h3>Test: Username:Keenan Pass:Password123</h3>
    <form method="post">
        <input type="hidden" name="action" value="Login">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>

    <h2>Create Account</h2>
    <form method="post">
        <input type="hidden" name="action" value="Create Account">
        Username: <input type="text" name="username" required><br>
        Password: <input type="password" name="password" required><br>
        Email: <input type="email" name="email" required><br>
        <button type="submit">Create Account</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
